.homeText {
	display: none;
}
.homeIcon {
	padding-top: 4px;
    font-size: 1.8em !important;
    color: #00a160;
}
.wsmenu02-list {
	width: auto;
}

.wsmenu02 {
	color: rgba(0,0,0,0.5);
}
.wsmenu-list > li > a {
	line-height: 18px;
}
.wsmenu-list > li > a:hover {
    background-color: rgba(0,0,0,0) !important;
}
.wsmenu-list li:hover>a {
    background-color: rgba(0,0,0,0) !important;
}
.megamenu {
	/*top: 62px;*/
	background-color: #f2f2f2;
	border-top: 2px solid #9e9e9e;
}
.wsmenu-submenu {
	/*top: 62px;*/
	background-color: #f2f2f2;
	border-top: 2px solid #9e9e9e;
}
.link-list02 li a {
	background-color: #f2f2f2 !important;
}
.wsmenu-submenu li a {
	background-color: #f2f2f2 !important;
}
/*#proveedoresMob a:hover, #proveedoresMob a:hover * {
	color: #00a160 !important;
}*/
 .link-list02 li:hover{
	background-color: #dddddd;
	border-radius: 4px;
}
.link-list02 li.title:hover {
   background-color: transparent;
}


.link-list02 li.title:hover {
   background-color: transparent;
}

.link-list02 li {
    white-space: inherit;
}

.link-list02 li.NoStyle {
    background-color: #ffffff00;
    border-radius: 4px;
    background-color: transparent;
}

/*
#menuList > li:nth-child(4) > div.megamenu::before {
    width: 210px;
    height: 380px;
    background-color: #00a160;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
}*/

.megamenu.clearfix {
    overflow: hidden;
    border-bottom-style: none;
}


#menuList > li:nth-child(4) > div > ul {
    width: 24.9%;
}

#menuList > li:nth-child(4) > div.megamenu .title {
    height: 56px;
}

a.MenuMoreButton {
    float: right;
    padding: 5px 5px!important;
}

.link-list02 li a.MenuMoreButton {
    background-color: #f2f2f200 !important;
    background-color: transparent !important;
}

li.NoStyle {
    overflow: auto;
}






#menuList i.ItemMenuWithBullet {
    position: relative;
    right: 16px;
    width: 0px;
    margin-right: 0px;
} 

#menuList a.ItemMenuWithBullet {
    padding-left: 26px!important;
}


.megamenu.clearfix {
    padding: 0;
}

ul.MenuGreenSection {
    background-color: #00a160;
    padding-bottom: 10px;
}

ul.MenuColumn {
    padding-top: 5px;
    padding-bottom: 15px;
}

li.NoStyle > p {
    font-size: 14px;
}


@media (max-width: 991px) and (min-width: 624px) {
	
	#menuList > li:nth-child(4) > div > ul {
	    width: 100%;
	}
	
	
	li.NoStyle {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
	
}



@media only screen and (max-width: 780px) {
	.wsmenu02-list {
		width: 100%;
	}

	.mobileHide {
		display: none !important
	}
	.smallogo {
		background: #ffffff;
	}
	ul#social-top {
		margin-left: 35px !important;
	}
	#main-menu a:before, #extra-menu a:before {
		left: 106px !important;
	}
	.homeText {
	    display: block;
    }
	.homeIcon {
	    display: none !important;
    }
    
    #menuList > li:nth-child(4) > div.megamenu::before {
    	width: 300px;
    }

    #menuList > li:nth-child(4) > div > ul:nth-child(1) > li.NoStyle {
	    padding-left: 15px;
	    padding-right: 15px;
	        padding-top: 10px;
	            padding-bottom: 5px;
	}
	
	#menuList > li:nth-child(4) > div > ul:nth-child(2) {
	    background-color: #e7e7e7!important;
	}
    
}



@media only screen and (max-width: 991px) {
	ul.MenuColumn {
	    padding-bottom: 5px;
	}

}
	
@media only screen and (min-width: 991px) {
	
	ul.MenuGreenSection {
	    padding-bottom: 4px;
	}



}
